<%- include('header') -%> 
<%- include('menu') -%> 
    <div class="container">
        <img src="pilsner5.jpg" class="rounded float-left" height="500">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center" >Kutyák</h2>
                <table class="table table-striped table-bordered" style="text-align: center">
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Faj
                    </th>
                    <th>
                        Méret
                    </th>
                    <th>
                        Kor
                    </th>
                    <th>
                    &nbsp;
                    </th>
                </tr>
                <% dogs.forEach(function(dog){ %>
                    <tr>
                        <td>
                            <%= dog.nev%>
                        </td>
                        <td>
                            <%= dog.faj%>
                        </td>
                        <td>
                            <%= dog.meret%>
                        </td>
                        <td>
                            <%= dog.kor%>
                        </td>
                        <td>
                            <a href="/dogs/edit/<%= dog._id %>" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                            <a href="/dogs/del/<%= dog._id %>" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                <% }); %>
                </table>
                <a href="/dogs/new" class="btn btn-block btn-primary">Új elem</a>      
          </div>
      </div>
<%- include('footer') -%> 

