<%- include('header') -%> 
<%- include('menu') -%> 
  
      <div class="container">
          <div class="row">
            <div class="col-8">
              <h2>Legzsufoltabb parkok</h2>
              <table class="table table-striped table-bordered">
                  <tr>
                      <th>
                          Cím
                      </th>
                      <th>
                          Kutyák száma
                      </th>
                  </tr>
                  <% topparkok.forEach(function(top){ %>
                      <tr>
                          <td>
                              <%= top.cim %>
                          </td>
                          <td>
                              <%= top.kutyaszam %>
                          </td>
                      </tr>
                  <% }); %>
              </table>
          </div>
            <div class="col-xl-4 col-md-6 col-12">
              <div>
                <form method="POST">
                      <div class="form-group">
                        <label for="felhasz">Felhasználó név</label>
                        <input type="text" class="form-control" id="felhasz" name="felhasz" required>
                      </div>
                      <div class="form-group">
                          <label for="jelszo">Jelszó</label>
                          <input type="password" class="form-control" id="jelszo" name="jelszo" required>
                      </div>
                      <div class="form-group">
                          <label for="robot">Nem vagyok robot</label>
                          <input type="checkbox" id="robot" name="robot" required>
                      </div>
                      <input type="submit" class="btn btn-primary" value="Belépés"/>
                </form>
              </div>
            </div>
          </div>
        </div>
<%- include('footer') -%>