<%- include('header') -%> 
<%- include('menu') -%> 

    <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-12">
            <h2>Kutya <% if (typeof dog === 'undefined') { %> 
              létrehozás 
            <% } else  { %> 
              módosítás 
            <% } %></h2>
            <div>
                <form method="POST">
                    <div class="form-group">
                      <label for="nev">Név</label>
                      <input type="text" class="form-control" id="nev" name="nev" value="<%= (typeof dog === 'undefined') ? '' : dog.nev %>" required >
                    </div>
                    <div class="form-group">
                        <label for="faj">Faj</label>
                        <input type="text" class="form-control" id="faj" name="faj" value="<%= (typeof dog === 'undefined') ? '' : dog.faj %>" required>
                    </div>
                    <div class="form-group">
                      <label for="meret">Meret</label>
                      <select class="form-control" id="meret" name="meret" value="<%= (typeof dog === 'undefined') ? '' : dog.kor %>" required> 
                        <option value ="Kicsi">Kicsi</option>
                        <option value ="Közepes">Közepes</option>
                        <option value ="Nagy">Nagy</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="kor">Kor</label>
                        <input type="number" class="form-control" id="kor" name="kor" step="1" value="<%= (typeof dog === 'undefined') ? '' : dog.kor %>" required>
                    </div>
                    <a class="btn btn-primary" href="/dogs">Mégse</a>
                    <input type="submit" class="btn btn-primary" href="/dogs" value="Mentés">
                  </form>
            </div>
          </div>
        </div>
      </div>
<%- include('footer') -%> 
