<%- include('header') -%> 
<%- include('menu') -%> 

    <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-12">
            <h2>Park <% if (typeof park === 'undefined') { %> 
                létrehozás 
              <% } else  { %> 
                módosítás 
              <% } %></h2>
            <div>
                <form method="POST">
                    <div class="form-group">
                      <label for="cim">Cím</label>
                      <input type="text" class="form-control" id="cim" name="cim" value="<%= (typeof park === 'undefined') ? '' : park.cim %>" required >
                    </div>
                    <div class="form-group">
                        <label for="meret">Méret</label>
                        <input type="number" class="form-control" id="meret" name="meret" step="1" value="<%= (typeof park === 'undefined') ? '' : park.meret %>">
                    </div>
                    <div class="form-group">
                        <label for="ketajtos">Kétajtós-e</label>
                        <select class="form-control" id="ketajtos" name="ketajtos" value="<%= (typeof park === 'undefined') ? '' : park.ketajtos %>"> 
                          <option value ="Igen">Igen</option>
                          <option value ="Nem">Nem</option>
                        </select>
                    </div>
                    <a class="btn btn-primary" href="/parks">Mégse</a>
                    <input type="submit" class="btn btn-primary" href="/parks" value="Mentés">
                  </form>
              </div>
          </div>
        </div>
      </div>
<%- include('footer') -%> 
