<%- include('header') -%> 
<%- include('menu') -%> 

    <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-12">
            <h2>Látogatás <% if (typeof visit === 'undefined') { %> 
              létrehozás 
            <% } else  { %> 
              módosítás 
            <% } %></h2>
            <small>Park: <%= park.cim %></small>
            <div>
              <form method="POST">
                    <div class="form-group">
                      <label for="nev">Név</label>
                      <input type="text" class="form-control" id="nev" name="nev"  value="<%= (typeof visit === 'undefined') ? '' : visit.nev %>" required>
                    </div>
                    <div class="form-group">
                        <label for="jon">Jön</label>
                        <input type="number" class="form-control" id="jon" name="jon" step="1" value="<%= (typeof visit === 'undefined') ? '' : visit.jon %>" required>
                    </div>
                    <div class="form-group">
                        <label for="megy">Megy</label>
                        <input type="number" class="form-control" id="megy" name="megy" step="1" value="<%= (typeof visit === 'undefined') ? '' : visit.megy %>" required>
                    </div>
                    <a class="btn btn-primary" href="/visits/<%= park._id %>">Mégse</a>
                    <input type="submit" class="btn btn-primary" value="Mentés"/>
                  </form>
            </div>
          </div>
        </div>
      </div>
<%- include('footer') -%> 

