<%- include('header') -%> 
<%- include('menu') -%> 
    <div class="container">
      <img src="pilsner4.jpg" class="rounded float-left" height="500">
      <div class="row">
        <div class="col-12">
          <h2 style="text-align: center" >Kutya parkok</h2>
            <table class="table table-striped table-bordered" style="text-align: center">
              <tr>
                <th>
                  Cím
                </th>
                <th>
                  Méret
                </th>
                <th>
                  Kétajtós-e
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
              <% parks.forEach(function(park){ %>
                <tr>
                  <td>
                    <%= park.cim%>
                  </td>
                  <td>
                    <%= park.meret%>
                  </td>
                  <td>
                    <%= park.ketajtos%>
                  </td>
                  <td>
                    <a href="/parks/edit/<%= park._id %> " class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                    <a href="/parks/del/<%= park._id %>" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                    <a href="/visits/<%= park._id %>" class="btn btn-sm btn-info"><i class="bi bi-arrow-right-square"></i></a>
                  </td>
                </tr>
              <% }); %>
              </table>
              <a href="/parks/new" class="btn btn-block btn-primary">Új elem</a>      
          </div>
      </div>
    </div>
<%- include('footer') -%> 
