<%- include('header') -%> 
<%- include('menu') -%> 

    <div class="container">
        <img src="/pilsner3.jpg" class="rounded float-left" height="500">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center"><%= park.cim %></h2>
                <table class="table table-striped table-bordered" style="text-align: center">
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Faj
                    </th>
                    <th>
                        Jön
                    </th>
                    <th>
                        Megy
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <% visits.forEach(function(visit){ %>
                <tr>
                    <td>
                        <%= visit.nev%>
                    </td>
                    <td>
                        <%= visit._kutyaja.faj%>
                    </td>
                    <td>
                        <%= visit.jon%>
                    </td>
                    <td>
                        <%= visit.megy%>
                    </td>
                    <td>
                        <a href="/visits/<%= park._id %>/edit/<%= visit._id%>" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                        <a href="/visits/<%= park._id %>/del/<%= visit._id%>" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                <% }); %>
                </table>
                <a href="/visits/<%= park._id %>/new" class="btn btn-block btn-primary">Új elem</a>      
          </div>
      </div>
    </div>
<%- include('footer') -%> 